/javanotes7_chap2/JavaApplication1/nbproject/private/
/javanotes7_chap2/hello_world/nbproject/private/
/javanotes7_chap2/hello_world/build/
/javanotes7_chap2/JavaApplication3/nbproject/private/
/javanotes7_chap2/HelloWorld/nbproject/private/
/javanotes7_chap2/HelloWorld/build/
/javanotes7_chap2/java-variables/nbproject/private/
/javanotes7_chap2/j-vars/nbproject/private/
/javanotes7_chap2/java_vars/nbproject/private/
/javanotes7_chap2/interest/nbproject/private/
/javanotes7_chap2/interest/build/
/javanotes7_chap2/java-chap2-maths/nbproject/private/
/javanotes7_chap2/java-chap2-maths/build/
/javanotes7_chap2/javachap2mathexamp/nbproject/private/
/javanotes7_chap2/javachap2mathexamp/build/
/javanotes7_chap2/enumdemo/nbproject/private/
/javanotes7_chap2/enumdemo/build/