/javanotes7_chap2/JavaApplication1/nbproject/private/
/javanotes7_chap2/hello_world/nbproject/private/
/javanotes7_chap2/hello_world/build/
/javanotes7_chap2/JavaApplication3/nbproject/private/
/javanotes7_chap2/HelloWorld/nbproject/private/
/javanotes7_chap2/HelloWorld/build/