/javanotes7_chap2/JavaApplication1/nbproject/private/
/javanotes7_chap2/hello_world/nbproject/private/
/javanotes7_chap2/hello_world/build/
/javanotes7_chap2/JavaApplication3/nbproject/private/
/javanotes7_chap2/HelloWorld/nbproject/private/
/javanotes7_chap2/HelloWorld/build/
/javanotes7_chap2/java-variables/nbproject/private/
/javanotes7_chap2/j-vars/nbproject/private/
/javanotes7_chap2/java_vars/nbproject/private/
/javanotes7_chap2/interest/nbproject/private/
/javanotes7_chap2/interest/build/
/javanotes7_chap2/java-chap2-maths/nbproject/private/
/javanotes7_chap2/java-chap2-maths/build/
/javanotes7_chap2/javachap2mathexamp/nbproject/private/
/javanotes7_chap2/javachap2mathexamp/build/
/javanotes7_chap2/enumdemo/nbproject/private/
/javanotes7_chap2/enumdemo/build/
/javanotes7_chap2/TextIO/nbproject/private/
/javanotes7_chap2/TextIO/build/
/javanotes7_chap2/inputtesting/nbproject/private/
/javanotes7_chap2/inputtesting/build/
/javanotes7_chap2/createprofile/nbproject/private/
/javanotes7_chap2/createprofile/build/
/javanotes7_chap2/inputtesting1/nbproject/private/
/javanotes7_chap2/inputtest/nbproject/private/
/javanotes7_chap2/inputtest/build/
/TextIO/build/
/TextIO/nbproject/private/
/javanotes7/CalcTest/nbproject/private/
/javanotes7/CalcTest/build/
/javanotes7/_problems/chap2prob1/nbproject/private/
/javanotes7/_problems/chap2prob1/build/
/javanotes7/_problems/chap2prob2/nbproject/private/
/javanotes7/_problems/chap2prob2/build/
/javanotes7/_problems/chap2prob3/nbproject/private/
/javanotes7/_problems/chap2prob3/build/
/javanotes7/_problems/chap2prob4/nbproject/private/
/javanotes7/_problems/chap2prob4/build/
/javanotes7/_problems/chap2prob5/nbproject/private/
/javanotes7/_problems/chap2prob5/build/
/javanotes7/_problems/chap2prob6/nbproject/private/
/javanotes7/_problems/chap2prob6/build/
/javanotes7/_problems/chap2prob7/nbproject/private/
/javanotes7/_problems/chap2prob7/build/
/javanotes7/_problems/chap2prob7ver2/nbproject/private/
/javanotes7/_problems/chap2prob7ver2/build/
/javanotes7/Interest3/nbproject/private/
/javanotes7/Interest3/build/
/javanotes7/workspace/threen1-loop/nbproject/private/
/javanotes7/workspace/ThreeN1/nbproject/private/
/javanotes7/workspace/ThreeN1/build/
/javanotes7/workspace/ComputeAverage/nbproject/private/
/javanotes7/workspace/ComputeAverage/build/
/javanotes7/workspace/birthdayproblem/nbproject/private/
/javanotes7/workspace/birthdayproblem/build/
/javanotes7/workspace/birthdayprobbetter/nbproject/private/
/javanotes7/workspace/birthdayprobbet/nbproject/private/
/javanotes7/workspace/birthdayprobbet/build/
/javanotes7/workspace/JavaSwitch/nbproject/private/
/javanotes7/workspace/JavaSwitch/build/
/javanotes7/workspace/ejs_code/nbproject/private/
/javanotes7/workspace/Java_Unit_Converter/nbproject/private/
/javanotes7/workspace/Java_Unit_Converter/build/
/javanotes7/workspace/LengthConverter/nbproject/private/
/javanotes7/workspace/LengthConverter/build/
/sandbox/JavaFiles/nbproject/private/
/sandbox/JavaFiles/build/
/javanotes7/workspace/JavaTextioTest/nbproject/private/
/javanotes7/workspace/JavaTextioTest/build/
/javanotes7/workspace/TestTextio/nbproject/private/
/javanotes7/workspace/TestTextio/build/
/javanotes7/workspace/TestioTextio/nbproject/private/
/javanotes7/workspace/TestioTextio/build/
/javanotes7/workspace/JavaBdayProb/nbproject/private/
/javanotes7/workspace/JavaBdayProb/build/
/javanotes7/workspace/ReverseInputOrder/nbproject/private/
/javanotes7/workspace/JavaFiles/build/
/javanotes7/workspace/JavaFiles/nbproject/private/
/javanotes7/workspace/ReverseInputOrder/build/
/javanotes7/workspace/drawFrame/nbproject/private/
/javanotes7/workspace/drawFrame/build/
/javanotes7/workspace/DrawCircles/nbproject/private/
/javanotes7/workspace/DrawCircles/build/
/javanotes7/workspace/DrawCirclesJavaFX/nbproject/private/
/javanotes7/workspace/DrawCirclesJavaFX/build/
/javanotes7/workspace/DrawCirclesJavaFX/dist/
/javanotes7/problems/chap3/Chap3Prob1/nbproject/private/
/javanotes7/problems/chap3/Chap3Prob1/build/
/javanotes7/problems/chap3/Chap3Prob2/nbproject/private/
/javanotes7/problems/chap3/Chap3Prob2/build/
/javanotes7/problems/chap3/Chap3Prob3/nbproject/private/
/javanotes7/problems/chap3/Chap3Prob3/build/
/javanotes7/problems/chap3/Chap3Prob4/nbproject/private/
/javanotes7/problems/chap3/Chap3Prob4/build/
/javanotes7/problems/chap3/Chap3Prob5/nbproject/private/
/javanotes7/problems/chap3/Chap3Prob5/build/
/javanotes7/problems/chap3/Chap3Prob5_1/nbproject/private/
/javanotes7/problems/chap3/Chap3Prob5_2/nbproject/private/
/javanotes7/problems/chap3/Chap3Prob5_2/build/
/javanotes7/problems/chap3/Chap3Prob8/nbproject/private/
/javanotes7/problems/chap3/Chap3Prob8/build/
/javanotes7/problems/chap3/Chap3Prob8/dist/
/javanotes7/problems/chap3/Chap3Prob9/nbproject/private/
/javanotes7/problems/chap3/Chap3Prob9/dist/
/javanotes7/problems/chap3/Chap3Prob9/build/
/javanotes7/workspace/methodScopes/nbproject/private/
/javanotes7/workspace/methodScopes/build/
/javanotes7/workspace/JavaTruthTable_Ternary/nbproject/private/
/javanotes7/workspace/JavaTruthTable_Ternary/build/
/javanotes7/workspace/JavaCommandLine/nbproject/private/
/javanotes7/workspace/JavaCommandLine/build/